<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Bstalk gui</title>
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="./node_modules/vue-msgbox/lib/vue-msgbox.css">
    <link rel="stylesheet" href="./app/css/app.css">
</head>
<body>
<div id="app" class="app">
    <main class="main">
        <command v-if="commandOpened"></command>
        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <loader v-if="isLoading"></loader>
            </div>
        </div>

        <div v-if="!isLoading" class="ui top segment">
            <div class="ui divided items">
                <repo-card v-for="repository in repositories | filterBy searchTerm in 'name'"
                           track-by="id"
                           :repository.sync="repository">

                </repo-card>
            </div>
        </div>
    </main>
</div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"
        onload="window.$ = window.jQuery = module.exports;">

</script>
<script src="semantic/dist/semantic.min.js"></script>
<script src="dist/build.js"></script>
</body>
</html>