.mdl-button.red,
.mdl-button.pink {
    background-color: rgb(255, 148, 148);
}
.mdl-button.yellow {
    background-color: rgb(230, 215, 65);
}
.mdl-button.orange {
    background-color: rgb(247, 193, 128);
}
.mdl-button.violet {
    background-color: rgb(241, 172, 251);
}
.mdl-button.blue,
.mdl-button.green-blue,
.mdl-button.sky-blue {
    background-color: rgb(173, 203, 255);
}
.mdl-button.green,
.mdl-button.aqua-green {
    background-color: rgb(154, 255, 221);
}

.flex-container {
    align-items: flex-start;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0;
    padding: 0;

}

.flex-container:before {
    background: rgba(0,0,0,0.5);
    content: '';
    height: 100%;
    position: fixed;
    width: 100vw;
    z-index: 3;
}
.shortcut-command {
    height: 42px;
    padding: 0 10px;
    position: relative;
    top: 50px;
    width: 85%;
    z-index: 5;
}